## Setup the environment

In [1]:
VERSION

v"1.5.2"

In [2]:
pwd()

"/Users/manideepbangaru/Documents/Julia-Journey"

In [3]:
cd("/Users/manideepbangaru/Documents/Julia-Journey/Datasets")

In [4]:
pwd()

"/Users/manideepbangaru/Documents/Julia-Journey/Datasets"

To check whether we have files in the directory or not

In [5]:
isfile.(["Project.toml","Manifest.toml"])

2-element BitArray{1}:
 1
 1

To check the versions of the packages

In [6]:
] status

Status `~/.julia/environments/v1.5/Project.toml`
  [6e4b80f9] BenchmarkTools v0.5.0
  [5ae59095] Colors v0.12.4
  [a93c6f00] DataFrames v0.20.2
  [31c24e10] Distributions v0.24.3
  [7876af07] Example v0.5.3
  [38e38edf] GLM v1.3.11
  [7073ff75] IJulia v1.23.0
  [47be7bcc] ORCA v0.5.0
  [58dd65bb] Plotly v0.3.0
  [f0f68f2c] PlotlyJS v0.12.3
  [91a5bcdd] Plots v1.3.3
  [d330b81b] PyPlot v2.9.0
  [ce6b1742] RDatasets v0.7.1
  [0f1e0344] WebIO v0.4.2
  [37e2e46d] LinearAlgebra

If above command gives any warning as package not found, then execute the below command

In [7]:
] instantiate

## First steps with dataframes

### We start with loading the required packages

In [6]:
using DataFrames

In [7]:
using Statistics

In [23]:
#import Pkg
#Pkg.add("PyPlot")

In [8]:
using PyPlot

In [9]:
# Pkg.add("GLM")

In [10]:
using GLM

### This is a matrix in which we store 8 columns representing Anscombe's quartet data

In [15]:
aq = [10.0   8.04  10.0  9.14  10.0   7.46   8.0   6.58
       8.0   6.95   8.0  8.14   8.0   6.77   8.0   5.76
      13.0   7.58  13.0  8.74  13.0  12.74   8.0   7.71
       9.0   8.81   9.0  8.77   9.0   7.11   8.0   8.84
      11.0   8.33  11.0  9.26  11.0   7.81   8.0   8.47
      14.0   9.96  14.0  8.1   14.0   8.84   8.0   7.04
       6.0   7.24   6.0  6.13   6.0   6.08   8.0   5.25
       4.0   4.26   4.0  3.1    4.0   5.39  19.0  12.50 
      12.0  10.84  12.0  9.13  12.0   8.15   8.0   5.56
       7.0   4.82   7.0  7.26   7.0   6.42   8.0   7.91
       5.0   5.68   5.0  4.74   5.0   5.73   8.0   6.89]

11×8 Array{Float64,2}:
 10.0   8.04  10.0  9.14  10.0   7.46   8.0   6.58
  8.0   6.95   8.0  8.14   8.0   6.77   8.0   5.76
 13.0   7.58  13.0  8.74  13.0  12.74   8.0   7.71
  9.0   8.81   9.0  8.77   9.0   7.11   8.0   8.84
 11.0   8.33  11.0  9.26  11.0   7.81   8.0   8.47
 14.0   9.96  14.0  8.1   14.0   8.84   8.0   7.04
  6.0   7.24   6.0  6.13   6.0   6.08   8.0   5.25
  4.0   4.26   4.0  3.1    4.0   5.39  19.0  12.5
 12.0  10.84  12.0  9.13  12.0   8.15   8.0   5.56
  7.0   4.82   7.0  7.26   7.0   6.42   8.0   7.91
  5.0   5.68   5.0  4.74   5.0   5.73   8.0   6.89

### We can simply construct a dataframe as follows

In [16]:
df = DataFrame(aq)

11×8 DataFrame. Omitted printing of 1 columns
│ Row │ x1      │ x2      │ x3      │ x4      │ x5      │ x6      │ x7      │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 10.0    │ 8.04    │ 10.0    │ 9.14    │ 10.0    │ 7.46    │ 8.0     │
│ 2   │ 8.0     │ 6.95    │ 8.0     │ 8.14    │ 8.0     │ 6.77    │ 8.0     │
│ 3   │ 13.0    │ 7.58    │ 13.0    │ 8.74    │ 13.0    │ 12.74   │ 8.0     │
│ 4   │ 9.0     │ 8.81    │ 9.0     │ 8.77    │ 9.0     │ 7.11    │ 8.0     │
│ 5   │ 11.0    │ 8.33    │ 11.0    │ 9.26    │ 11.0    │ 7.81    │ 8.0     │
│ 6   │ 14.0    │ 9.96    │ 14.0    │ 8.1     │ 14.0    │ 8.84    │ 8.0     │
│ 7   │ 6.0     │ 7.24    │ 6.0     │ 6.13    │ 6.0     │ 6.08    │ 8.0     │
│ 8   │ 4.0     │ 4.26    │ 4.0     │ 3.1     │ 4.0     │ 5.39    │ 19.0    │
│ 9   │ 12.0    │ 10.84   │ 12.0    │ 9.13    │ 12.0    │ 8.15    │ 8.0     │
│ 10  │ 7.0     │ 4.82    │ 7.0     │ 7.26    │ 7.0     │ 6.42    │ 8.0     │
│ 11  │ 5.0     │ 5.68    │ 5.0     │ 4.74    │ 5.0     │ 5.73    │ 8.0     │

### Changing the column names of dataframe

In [20]:
newnames = vec(string.(["x","y"],[1 2 3 4]))
#newnames = ["x1","y1","x2","y2","x3","y3","x4","y4"]

8-element Array{String,1}:
 "x1"
 "y1"
 "x2"
 "y2"
 "x3"
 "y3"
 "x4"
 "y4"

In [21]:
rename!(df,newnames)

11×8 DataFrame. Omitted printing of 1 columns
│ Row │ x1      │ y1      │ x2      │ y2      │ x3      │ y3      │ x4      │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 10.0    │ 8.04    │ 10.0    │ 9.14    │ 10.0    │ 7.46    │ 8.0     │
│ 2   │ 8.0     │ 6.95    │ 8.0     │ 8.14    │ 8.0     │ 6.77    │ 8.0     │
│ 3   │ 13.0    │ 7.58    │ 13.0    │ 8.74    │ 13.0    │ 12.74   │ 8.0     │
│ 4   │ 9.0     │ 8.81    │ 9.0     │ 8.77    │ 9.0     │ 7.11    │ 8.0     │
│ 5   │ 11.0    │ 8.33    │ 11.0    │ 9.26    │ 11.0    │ 7.81    │ 8.0     │
│ 6   │ 14.0    │ 9.96    │ 14.0    │ 8.1     │ 14.0    │ 8.84    │ 8.0     │
│ 7   │ 6.0     │ 7.24    │ 6.0     │ 6.13    │ 6.0     │ 6.08    │ 8.0     │
│ 8   │ 4.0     │ 4.26    │ 4.0     │ 3.1     │ 4.0     │ 5.39    │ 19.0    │
│ 9   │ 12.0    │ 10.84   │ 12.0    │ 9.13    │ 12.0    │ 8.15    │ 8.0     │
│ 10  │ 7.0     │ 4.82    │ 7.0     │ 7.26    │ 7.0     │ 6.42    │ 8.0     │
│ 11  │ 5.0     │ 5.68    │ 5.0     │ 4.74    │ 5.0     │ 5.73    │ 8.0     │

### We could have also assigned the names to columns at the moment of data frame creation like this

In [22]:
DataFrame(aq, [:x1, :y1, :x2, :y2, :x3, :y3, :x4, :y4])

11×8 DataFrame. Omitted printing of 1 columns
│ Row │ x1      │ y1      │ x2      │ y2      │ x3      │ y3      │ x4      │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 10.0    │ 8.04    │ 10.0    │ 9.14    │ 10.0    │ 7.46    │ 8.0     │
│ 2   │ 8.0     │ 6.95    │ 8.0     │ 8.14    │ 8.0     │ 6.77    │ 8.0     │
│ 3   │ 13.0    │ 7.58    │ 13.0    │ 8.74    │ 13.0    │ 12.74   │ 8.0     │
│ 4   │ 9.0     │ 8.81    │ 9.0     │ 8.77    │ 9.0     │ 7.11    │ 8.0     │
│ 5   │ 11.0    │ 8.33    │ 11.0    │ 9.26    │ 11.0    │ 7.81    │ 8.0     │
│ 6   │ 14.0    │ 9.96    │ 14.0    │ 8.1     │ 14.0    │ 8.84    │ 8.0     │
│ 7   │ 6.0     │ 7.24    │ 6.0     │ 6.13    │ 6.0     │ 6.08    │ 8.0     │
│ 8   │ 4.0     │ 4.26    │ 4.0     │ 3.1     │ 4.0     │ 5.39    │ 19.0    │
│ 9   │ 12.0    │ 10.84   │ 12.0    │ 9.13    │ 12.0    │ 8.15    │ 8.0     │
│ 10  │ 7.0     │ 4.82    │ 7.0     │ 7.26    │ 7.0     │ 6.42    │ 8.0     │
│ 11  │ 5.0     │ 5.68    │ 5.0     │ 4.74    │ 5.0     │ 5.73    │ 8.0     │

### Extract a column from the dataset

In [23]:
df.y1

11-element Array{Float64,1}:
  8.04
  6.95
  7.58
  8.81
  8.33
  9.96
  7.24
  4.26
 10.84
  4.82
  5.68

In [29]:
df[:,:y1]

11-element Array{Float64,1}:
  8.04
  6.95
  7.58
  8.81
  8.33
  9.96
  7.24
  4.26
 10.84
  4.82
  5.68

In [31]:
df[:,[:y1,:y2]]

11×2 DataFrame
│ Row │ y1      │ y2      │
│     │ Float64 │ Float64 │
├─────┼─────────┼─────────┤
│ 1   │ 8.04    │ 9.14    │
│ 2   │ 6.95    │ 8.14    │
│ 3   │ 7.58    │ 8.74    │
│ 4   │ 8.81    │ 8.77    │
│ 5   │ 8.33    │ 9.26    │
│ 6   │ 9.96    │ 8.1     │
│ 7   │ 7.24    │ 6.13    │
│ 8   │ 4.26    │ 3.1     │
│ 9   │ 10.84   │ 9.13    │
│ 10  │ 4.82    │ 7.26    │
│ 11  │ 5.68    │ 4.74    │

### We can use `select!` to regroup the columns by names by using regular expressions
suppose if we want to reorder in such a way that all Xs should come first

In [33]:
select!(df,r"x",:)

11×8 DataFrame. Omitted printing of 1 columns
│ Row │ x1      │ x2      │ x3      │ x4      │ y1      │ y2      │ y3      │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 10.0    │ 10.0    │ 10.0    │ 8.0     │ 8.04    │ 9.14    │ 7.46    │
│ 2   │ 8.0     │ 8.0     │ 8.0     │ 8.0     │ 6.95    │ 8.14    │ 6.77    │
│ 3   │ 13.0    │ 13.0    │ 13.0    │ 8.0     │ 7.58    │ 8.74    │ 12.74   │
│ 4   │ 9.0     │ 9.0     │ 9.0     │ 8.0     │ 8.81    │ 8.77    │ 7.11    │
│ 5   │ 11.0    │ 11.0    │ 11.0    │ 8.0     │ 8.33    │ 9.26    │ 7.81    │
│ 6   │ 14.0    │ 14.0    │ 14.0    │ 8.0     │ 9.96    │ 8.1     │ 8.84    │
│ 7   │ 6.0     │ 6.0     │ 6.0     │ 8.0     │ 7.24    │ 6.13    │ 6.08    │
│ 8   │ 4.0     │ 4.0     │ 4.0     │ 19.0    │ 4.26    │ 3.1     │ 5.39    │
│ 9   │ 12.0    │ 12.0    │ 12.0    │ 8.0     │ 10.84   │ 9.13    │ 8.15    │
│ 10  │ 7.0     │ 7.0     │ 7.0     │ 8.0     │ 4.82    │ 7.26    │ 6.42    │
│ 11  │ 5.0     │ 5.0     │ 5.0     │ 8.0     │ 5.68    │ 4.74    │ 5.73    │

Note that we could have used `select` instead of `select!` function to create a new copy of dataset rather than mutating

An interesting feature of Anscombe's quartet is that its variables have the same mean and variance.
We can easily check this using the `describe` function

In [34]:
df

11×8 DataFrame. Omitted printing of 1 columns
│ Row │ x1      │ x2      │ x3      │ x4      │ y1      │ y2      │ y3      │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 10.0    │ 10.0    │ 10.0    │ 8.0     │ 8.04    │ 9.14    │ 7.46    │
│ 2   │ 8.0     │ 8.0     │ 8.0     │ 8.0     │ 6.95    │ 8.14    │ 6.77    │
│ 3   │ 13.0    │ 13.0    │ 13.0    │ 8.0     │ 7.58    │ 8.74    │ 12.74   │
│ 4   │ 9.0     │ 9.0     │ 9.0     │ 8.0     │ 8.81    │ 8.77    │ 7.11    │
│ 5   │ 11.0    │ 11.0    │ 11.0    │ 8.0     │ 8.33    │ 9.26    │ 7.81    │
│ 6   │ 14.0    │ 14.0    │ 14.0    │ 8.0     │ 9.96    │ 8.1     │ 8.84    │
│ 7   │ 6.0     │ 6.0     │ 6.0     │ 8.0     │ 7.24    │ 6.13    │ 6.08    │
│ 8   │ 4.0     │ 4.0     │ 4.0     │ 19.0    │ 4.26    │ 3.1     │ 5.39    │
│ 9   │ 12.0    │ 12.0    │ 12.0    │ 8.0     │ 10.84   │ 9.13    │ 8.15    │
│ 10  │ 7.0     │ 7.0     │ 7.0     │ 8.0     │ 4.82    │ 7.26    │ 6.42    │
│ 11  │ 5.0     │ 5.0     │ 5.0     │ 8.0     │ 5.68    │ 4.74    │ 5.73    │

In [35]:
describe(df)

8×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min     │ median  │ max     │ nunique │ nmissing │
│     │ Symbol   │ Float64 │ Float64 │ Float64 │ Float64 │ Nothing │ Nothing  │
├─────┼──────────┼─────────┼─────────┼─────────┼─────────┼─────────┼──────────┤
│ 1   │ x1       │ 9.0     │ 4.0     │ 9.0     │ 14.0    │         │          │
│ 2   │ x2       │ 9.0     │ 4.0     │ 9.0     │ 14.0    │         │          │
│ 3   │ x3       │ 9.0     │ 4.0     │ 9.0     │ 14.0    │         │          │
│ 4   │ x4       │ 9.0     │ 8.0     │ 8.0     │ 19.0    │         │          │
│ 5   │ y1       │ 7.50091 │ 4.26    │ 7.58    │ 10.84   │         │          │
│ 6   │ y2       │ 7.50091 │ 3.1     │ 8.14    │ 9.26    │         │          │
│ 7   │ y3       │ 7.5     │ 5.39    │ 7.11    │ 12.74   │         │          │
│ 8   │ y4       │ 7.50091 │ 5.25    │ 7.04    │ 12.5    │         │          │

In [43]:
describe(df, :mean123 => mean, :std123 => std)

8×3 DataFrame
│ Row │ variable │ mean123 │ std123  │
│     │ Symbol   │ Float64 │ Float64 │
├─────┼──────────┼─────────┼─────────┤
│ 1   │ x1       │ 9.0     │ 3.31662 │
│ 2   │ x2       │ 9.0     │ 3.31662 │
│ 3   │ x3       │ 9.0     │ 3.31662 │
│ 4   │ x4       │ 9.0     │ 3.31662 │
│ 5   │ y1       │ 7.50091 │ 2.03157 │
│ 6   │ y2       │ 7.50091 │ 2.03166 │
│ 7   │ y3       │ 7.5     │ 2.03042 │
│ 8   │ y4       │ 7.50091 │ 2.03058 │

Let us add a column to the dataframe which gives the id

In [44]:
df.id = 1:nrow(df)
df

11×9 DataFrame. Omitted printing of 2 columns
│ Row │ x1      │ x2      │ x3      │ x4      │ y1      │ y2      │ y3      │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 10.0    │ 10.0    │ 10.0    │ 8.0     │ 8.04    │ 9.14    │ 7.46    │
│ 2   │ 8.0     │ 8.0     │ 8.0     │ 8.0     │ 6.95    │ 8.14    │ 6.77    │
│ 3   │ 13.0    │ 13.0    │ 13.0    │ 8.0     │ 7.58    │ 8.74    │ 12.74   │
│ 4   │ 9.0     │ 9.0     │ 9.0     │ 8.0     │ 8.81    │ 8.77    │ 7.11    │
│ 5   │ 11.0    │ 11.0    │ 11.0    │ 8.0     │ 8.33    │ 9.26    │ 7.81    │
│ 6   │ 14.0    │ 14.0    │ 14.0    │ 8.0     │ 9.96    │ 8.1     │ 8.84    │
│ 7   │ 6.0     │ 6.0     │ 6.0     │ 8.0     │ 7.24    │ 6.13    │ 6.08    │
│ 8   │ 4.0     │ 4.0     │ 4.0     │ 19.0    │ 4.26    │ 3.1     │ 5.39    │
│ 9   │ 12.0    │ 12.0    │ 12.0    │ 8.0     │ 10.84   │ 9.13    │ 8.15    │
│ 10  │ 7.0     │ 7.0     │ 7.0     │ 8.0     │ 4.82    │ 7.26    │ 6.42    │
│ 11  │ 5.0     │ 5.0     │ 5.0     │ 8.0     │ 5.68    │ 4.74    │ 5.73    │

In [45]:
ncol(df)

9

In [47]:
select!(df,:id,:y4,:)

11×9 DataFrame. Omitted printing of 2 columns
│ Row │ id    │ y4      │ x1      │ x2      │ x3      │ x4      │ y1      │
│     │ Int64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼───────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 1     │ 6.58    │ 10.0    │ 10.0    │ 10.0    │ 8.0     │ 8.04    │
│ 2   │ 2     │ 5.76    │ 8.0     │ 8.0     │ 8.0     │ 8.0     │ 6.95    │
│ 3   │ 3     │ 7.71    │ 13.0    │ 13.0    │ 13.0    │ 8.0     │ 7.58    │
│ 4   │ 4     │ 8.84    │ 9.0     │ 9.0     │ 9.0     │ 8.0     │ 8.81    │
│ 5   │ 5     │ 8.47    │ 11.0    │ 11.0    │ 11.0    │ 8.0     │ 8.33    │
│ 6   │ 6     │ 7.04    │ 14.0    │ 14.0    │ 14.0    │ 8.0     │ 9.96    │
│ 7   │ 7     │ 5.25    │ 6.0     │ 6.0     │ 6.0     │ 8.0     │ 7.24    │
│ 8   │ 8     │ 12.5    │ 4.0     │ 4.0     │ 4.0     │ 19.0    │ 4.26    │
│ 9   │ 9     │ 5.56    │ 12.0    │ 12.0    │ 12.0    │ 8.0     │ 10.84   │
│ 10  │ 10    │ 7.91    │ 7.0     │ 7.0     │ 7.0     │ 8.0     │ 4.82    │
│ 11  │ 11    │ 6.89    │ 5.0     │ 5.0     │ 5.0     │ 8.0     │ 5.68    │

In [48]:
df

11×9 DataFrame. Omitted printing of 2 columns
│ Row │ id    │ y4      │ x1      │ x2      │ x3      │ x4      │ y1      │
│     │ Int64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼───────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 1     │ 6.58    │ 10.0    │ 10.0    │ 10.0    │ 8.0     │ 8.04    │
│ 2   │ 2     │ 5.76    │ 8.0     │ 8.0     │ 8.0     │ 8.0     │ 6.95    │
│ 3   │ 3     │ 7.71    │ 13.0    │ 13.0    │ 13.0    │ 8.0     │ 7.58    │
│ 4   │ 4     │ 8.84    │ 9.0     │ 9.0     │ 9.0     │ 8.0     │ 8.81    │
│ 5   │ 5     │ 8.47    │ 11.0    │ 11.0    │ 11.0    │ 8.0     │ 8.33    │
│ 6   │ 6     │ 7.04    │ 14.0    │ 14.0    │ 14.0    │ 8.0     │ 9.96    │
│ 7   │ 7     │ 5.25    │ 6.0     │ 6.0     │ 6.0     │ 8.0     │ 7.24    │
│ 8   │ 8     │ 12.5    │ 4.0     │ 4.0     │ 4.0     │ 19.0    │ 4.26    │
│ 9   │ 9     │ 5.56    │ 12.0    │ 12.0    │ 12.0    │ 8.0     │ 10.84   │
│ 10  │ 10    │ 7.91    │ 7.0     │ 7.0     │ 7.0     │ 8.0     │ 4.82    │
│ 11  │ 11    │ 6.89    │ 5.0     │ 5.0     │ 5.0     │ 8.0     │ 5.68    │

In [49]:
Matrix(df)

11×9 Array{Float64,2}:
  1.0   6.58  10.0  10.0  10.0   8.0   8.04  9.14   7.46
  2.0   5.76   8.0   8.0   8.0   8.0   6.95  8.14   6.77
  3.0   7.71  13.0  13.0  13.0   8.0   7.58  8.74  12.74
  4.0   8.84   9.0   9.0   9.0   8.0   8.81  8.77   7.11
  5.0   8.47  11.0  11.0  11.0   8.0   8.33  9.26   7.81
  6.0   7.04  14.0  14.0  14.0   8.0   9.96  8.1    8.84
  7.0   5.25   6.0   6.0   6.0   8.0   7.24  6.13   6.08
  8.0  12.5    4.0   4.0   4.0  19.0   4.26  3.1    5.39
  9.0   5.56  12.0  12.0  12.0   8.0  10.84  9.13   8.15
 10.0   7.91   7.0   7.0   7.0   8.0   4.82  7.26   6.42
 11.0   6.89   5.0   5.0   5.0   8.0   5.68  4.74   5.73

In [50]:
Matrix(df)[5,7]

8.33

In [61]:
xlim = collect(extrema(Matrix(select(df, r"x"))) .+ (-1, 1))

2-element Array{Float64,1}:
  3.0
 20.0

In [62]:
ylim = collect(extrema(Matrix(select(df,r"y"))) .+ (-1,1))

2-element Array{Float64,1}:
  2.1
 13.74

In [53]:
### To find out the minima and maxima of a column

In [67]:
collect(extrema(df.x1))

2-element Array{Float64,1}:
  4.0
 14.0

### It is easy to create Dataframes

In [72]:
x = :var1
y = :var2
xc = 1:4
yc = 5:8
DataFrame(x=>xc,y=>yc)

4×2 DataFrame
│ Row │ var1  │ var2  │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 5     │
│ 2   │ 2     │ 6     │
│ 3   │ 3     │ 7     │
│ 4   │ 4     │ 8     │

Note that the same effect can be achieved with passing keyword arguments directly to `DataFrame` constructor:

In [74]:
DataFrame(var1 = xc,var2 = yc)

4×2 DataFrame
│ Row │ var1  │ var2  │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 1     │ 5     │
│ 2   │ 2     │ 6     │
│ 3   │ 3     │ 7     │
│ 4   │ 4     │ 8     │

Difference between `df.col` and `df[:,col]`

In [76]:
# gives you a direct access to the column stored in df but x1 is a literal
df.x1

11-element Array{Float64,1}:
 10.0
  8.0
 13.0
  9.0
 11.0
 14.0
  6.0
  4.0
 12.0
  7.0
  5.0

In [78]:
# now the column is copied, so this is the same as copy(df.x1)
# in this case we could have used a variable instead of a literal for indexing
df[:,:x1]

11-element Array{Float64,1}:
 10.0
  8.0
 13.0
  9.0
 11.0
 14.0
  6.0
  4.0
 12.0
  7.0
  5.0

So what if you want to select a column without copying it but want to use a variable holding its name. There is a special `!` row selector for this:

In [79]:
n = :x1

:x1

In [80]:
v = df[!,n]

11-element Array{Float64,1}:
 10.0
  8.0
 13.0
  9.0
 11.0
 14.0
  6.0
  4.0
 12.0
  7.0
  5.0

Let us check that `!` does not copy:

In [81]:
v === df.x1

true

Therefore, it is not copied